body{
    font-family: 'Source Sans Pro', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vh; 
    background: #ffffff;
}
/*#region  head */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10rem;
    text-align: center;
}

/*#region title */
.title{
    padding: 4em 0 4em 0;
    width: 100%;
}

.title a{
    font-size: 35px;
    letter-spacing: -0.025em;
    cursor: pointer;
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s
}

.title a em{
    font-weight: 300;
}

.title a:hover{
    color: #37c0fb;
}
/*#endregion title */
/*#region nav-bar */

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 7rem;
}

.nav{
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav a {
    display: none;
    font-size: 18px;
    letter-spacing: -0.025em;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s
}

.nav a em{
    font-weight: 300;
}

.nav ul li a{
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    color: #c0c0c0;
    padding: 1.5em 1.2em 1.35em 1.2em;
    transition: color 0.2s
}

.nav ul li a:hover{
    color: #ffffff;
}
    
.nav ul li .home {
    color: #ffffff;
    font-weight: 600;
}

.bottom {
    background: #37c0fb;
    width: 100%;
    height: 1.2rem;
}
/*#endregion nav-bar*/
/*#endregion head*/
/*#region banner*/
.banner {
    width: 100%;
    height: 37.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../IMG/banner.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1 ;
}
/*#region img-banner */
.img_banner {
    width: 100%;
    height: 100%;
}

.img_overlay {
    width: 100%;
    height: 9.5em;
    background: rgba(27, 27, 27, 0.75);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_and_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.text_and_button {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.text_and_button  em {
    color: #c0c0c0;
    font-weight: 300;
}

.html5_UP {
    border-bottom: dotted 1px;
    transition: color 0.5s;
    font-weight: 300;
    color: #c0c0c0;
    text-decoration: none;
}

.html5_UP:hover {
    border-bottom: dotted 0;
    color: #37c0fb;
    cursor: pointer;
    text-decoration: none;
}

.learn_more a {
    font-size: 21px;
    margin-left: 1em;
    padding: 0.8em 2.2em 0.8em 2.2em;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.025em;
    font-weight: 600;
    transition: color 0.2s;
    background: #1eb8fb;
    color: #ffffff;
}

.learn_more a:hover{
    background: #37c0fb;
    cursor: pointer;
    transition: color 0.2s;
}
/*#endregion img-banner */
/*#region important_box */
.conteiner_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.important_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    --important-box-rem: 32rem;
    height: var(--important-box-rem);
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: var(--important-box-rem);
    height: var(--important-box-rem);
}

.important_circle{
    background: linear-gradient(180deg, rgba(55,192,251,1) 0%, rgba(43,162,213,1) 100%);
    border-radius: 100px;
    box-shadow: 0 0 0 6px white, 0 0 0 7px #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
}

.fontawesomeicon {
    color: #ffffff;
    font-size: 40px;
}

.h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: var(--important-box-rem + -100px);
}

.box h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    --fontsize: 26px;
    font-size: calc(var(--fontsize) - 2px);
    color: #333;
}

.box p{
    font-weight: 300;
    margin-top: 2rem;
    font-size: 16pt;
    line-height: 35px;
    width: 400px;
    color: #474747;
}
/*#endregion */
/*#region gigantic */
.conteiner_gigantic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #f4f4f4;
}
.panel_gigantic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: #f4f4f4;
}

.panel_gigantic h2 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    margin:  0 0 20px;
    line-height: 1.65em;
    letter-spacing: -0.025em;
    color: #474747;
}
.header.panel_gigantic p{
    position: relative;
    border-top: solid 1px #e0e0e0;
    padding: 1em 0 0 0;
    margin: 0;
    top: -1em;
} 

.panel_gigantic p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    padding: 30px 400px 0 400px;
    margin: 0;
    top: -1em;
    letter-spacing: -0.025em;
    font-size: 30px;
    font-weight: 300;
    color: #999999;
}
/*#endregion gigantic*/
/*#region thing */

.conteiner_thing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
    padding: 100px;
}

.box_thing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 37%;
    height: 40%;
    margin: 20px 50px 55px ;   
}

.text {
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.text h2 {
    font-size: 27px;
    margin: 0 40px 22px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #474747;
}

.text p {
    font-size: 21px;
    margin: 0 0 34px 40px;
    letter-spacing: -0.025em;
    font-weight: 300;
    line-height: 1.7em;
    color: #474747;
    
}

.item .image_box {
    display: flex;
    width: 100%;
    height: 100%;
}

.image_box img {
    height: 182px;
    width: 202px;
    border-radius: 5px;
    cursor: pointer;
}
/*#endregion thing */
/*#region conteiner blue */
.conteiner_blue{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 100%;
    background-color: #37c0fb;
}

.conteiner_blue h2 {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: -0.025em;
    padding:  92px 21px 92px 20px ;
    color: white;
}

.conteiner_blue a {
    font-size: 21px;
    border-radius: 5px;
    display: inline-block;
    line-height: 2.8em;
    min-width: 9em;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -0.025em;
    transition: color 0.2s;
    background: #fff;
    color: #474747;
    
}
.conteiner_blue a:hover{
    color: #37c0fb;
    cursor: pointer;
}
/*#endregion conteiner blue */
/*#endregion banner*/
/*#region footer*/
/*#region links and form*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background: #e0e0e0;
    padding: 4em 0 8em 0;
}

.conteiner_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 50px;
    height: 50%;
    width: 90%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-decoration: none;
    width: 15%;
    padding: 0 0 0 100px;
}

.links ul{
    padding: 30px 0 15px 0;
    font-size: 24px;
    font-weight: 600;
}

.links li{
    flex-direction: column;
    justify-content: center;
    list-style: none;
    display: list-item;
    text-decoration: none;
    line-height: 1.7em;
    font-size: 20px;
    font-weight: 300;
    padding:  1.2em 0 0 0;
   
}

.links a{
    transition: color 0.2s;
    text-decoration: none;
    border-bottom: dotted 1px;
    color: #474747;
}

.links a:hover{
    color: #37c0fb

}

.form{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 0 0 100px;
    width: 45%;
    height: 475px;
    font-size: 24px;
    font-weight: 600;

}

.form h3{
    padding: 30px 0 15px 0;
    font-size: 24px;
    font-weight: 600;
}

.get{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.text_get {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width: 35%;
    padding: 15px 5px 10px 10px;
    margin-bottom: 25px;
    margin-right: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.conteiner_message {
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
    height: 350px;
}

.conteiner_message textarea{
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width: 580px;
    height: 128px;
    padding: 15px 5px 10px 10px;
    margin-bottom: 25px;
    margin-right: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.conteiner_message textarea element.style {
     height: 138px; 
}

.conteiner_message a {
    font-size: 21px;
    border-radius: 5px;
    line-height: 2.8em;
    width: 9em;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -0.025em;
    transition: color 0.2s;
    background: #484848;
    color: #ffffff;
}

.conteiner_message a:hover {
    background-color: #5e5e5e;
    transition: 0.4s;
    cursor: pointer;
}
/*#endregion links and form*/
/*#region icons*/
@font-face {
    font-family: 'icomoon';                
    src: url('../SM_ICONS/icomoon.eot?#iefix') format('embedded-opentype'), 
         url('../SM_ICONS/icomoon.ttf'),
         url('../SM_ICONS/icomoon.eot');
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-top: 150px;
    background-color: #e0e0e0;
}

.icons a{
    margin: 13px;
    text-decoration: none;
    font-family: 'icomoon';
    font-size: 47px;
    color: #999999;
}

.icons a:hover {
    color: #4C4C4C;
    transition: 0.3s;
}

.icons .icon_tw::before {
    content: "\ea96";
}

.icon_fb::before {
    content: "\ea90";
}

.icons .icon_gh::before {
    content: "\eab0";
}

.icons .icon_li::before {
    content: "\eaca";
}

.icons .icon_gp::before {
    content: "\ea8b";
}

.foot_icons{
    display: flex;
    justify-content: center;
    color: #474747;
    font-weight: 300;

    font-size: 18px;
}

.foot_icons span{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 300;
    border-right: 1px solid #d4d4d4;
}

.foot_icons span:nth-child(3){
    border-right:none;
}

.foot_icons a{
    border-left: solid 1px #e0e0e0;
    border-bottom: dotted 1px;
    transition: color 0.3s;
    text-decoration: none;
    color: #474949;
}

.foot_icons a:hover{
    border-bottom: dotted 0;
    color: #37c0fb;
    cursor: pointer;
    text-decoration: none;
}


/*#endregions icons*/
/*#endregion footer*/
/*#region Media */

@media only screen and (max-width: 1680px) {
.title {
    padding: 3.5em 0 3.5em 0;
}
.title a{
    font-size: 28px;

}
.navbar {
    height: 6rem;
}
.nav ul li a{
    font-size: 20px;
}

@media only screen and (max-width: 1280px) {
.title {
    padding: 2.5em 0 2.5em 0;
}
.title a{
    font-size: 25px;

}
.navbar {
    height: 5.8rem;
}
.nav ul li a{
    font-size: 18px;
}
.bottom{
    height: 1rem;
}
}

@media only screen and (max-width: 980px) {
.title {
    padding: 2.2em 0 2.2em 0;
}
.title a{
    font-size: 23px;

}
.navbar {
    height: 5.4rem;
}
.nav ul li a{
    font-size: 16px;
}
.bottom{
height: 0.8rem;
}
}

@media only screen and (max-width: 840px) {

.title {
 display: none;
}
.nav ul li a{
    display: none;
}
.nav a {
    display: flex;
}
.navbar {
    height: 3.5rem;
}
.bottom{
height: 0.4rem;
}
}

@media only screen and (max-width: 737px) {
.nav a {
    font-size: 16px;
}
.navbar {
    height: 3.2rem;
}
.bottom{
height: 0.3rem;
}
}

@media only screen and (max-width: 480px) {
.nav a {
    font-size: 16px;
}
.navbar {
    height: 3.2rem;
}
.bottom{
height: 0.3rem;
}
}
}

/*#endregion media*/